/* --------------------------------------------------- Allgemein  ----------------------------------------------------*/
body {
  background-color: hotel-colors(dark-blue) ;
  font-family: 'Roboto', sans-serif;
}

@include welcome-background-image("header", "./img/pic01.jpg", 650, cover);
@include welcome-background-image("header2", "./img/pic01.jpg", 390, cover);
@include welcome-background-image("room", "./img/pic02.jpg", 650, cover);
@include welcome-background-image("bath", "./img/pic03.jpg", 650, cover);
@include welcome-background-image("suite", "./img/pic04.jpg", 650, cover);

.custom-bg {
  background-color: rgba(0,0,0, .75);
}

.px-3 {
  color: white;
  font-weight: bold;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.stylehr {
  background: hotel-colors(gold);
  height: 0.5em;
  border: none;
  margin-bottom: 2em;
}

.heading {
  color: white;
}

.colGol {
  color: hotel-colors(gold);
}

.spacer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3%;
  padding: 1em;
}

.bold {
  font-weight: bold;
}

.page-item.active .page-link {
  background-color: hotel-colors(gold);
  color: black;
  border-color: hotel-colors(gold);
}

.page-link {
  color: black;

  &:hover, &:focus, &:active {
    color: black;
  }
}

a {
  color:black;
}

/* -----------------------------     Animation 1 Preloader (Start - Anim.)  ------------------------------------------*/

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid goldenrod;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.fadeout {
  animation-name: fade-out;
  animation-duration: 3s;
}

@keyframes fade-out {
  0% {
    opacity: 1 ;
  }
  100%{
    opacity: 0;
  }
}


/* ---------------------------------------     Animation 2 Hover  -----------------------------------------------*/

/*  Hover-Bild  */
.img-hover {
  overflow: hidden;

  img {
    transition: transform .5s ease;
  }

  &:hover img {
    overflow: hidden;
    transform: scale(1.1);
  }
}

.btnstyle {
  background-color: hotel-colors(gold);
  padding: .5em;
  border: none;
  border-radius: 3px;
  transition: background-color .5s ease;

  &:hover, &:active, &:focus {
    background-color: hotel-colors(beige);
  }
}

.submit-btn {
  @extend .btnstyle;

  background-color: hotel-colors(dark-blue);
  color: white;
}


/* --------------------------------------     Animation  --------------------------------------------*/

/*  Animierte Trennlinie  */

.stylehr {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-play-state: initial;
  animation-timing-function: ease-in;
}

@keyframes slideInLeft {
  from {
    margin-right: 100%;
  }
  to{
    margin-right: 0;
  }
}